.page-navbar-bottom {
    width: 100%;
    text-align: center;
    padding: 20px;
    font-weight: 700;
}

.page-navbar-bottom > a {
    text-align: center;
    cursor: pointer;
    margin: 10px;
    position: relative;
    color: inherit;
}

.page-navbar-bottom > a::after {
    content: '';
    width: 0;
    height: 2px;
    background: coral;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
    transition: all 0.2s;
}

.page-navbar-bottom > a:hover::after {
    width: 100%;
}


.page-navbar-side {
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 400;
    opacity: 0;
    vertical-align: middle;
    padding: 0;
}

.page-navbar-side a {
    height: 25vh;
    color: black;
    display: none;
    font-family: 'Reenie Beanie', cursive;
}